body {
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0.1s;
}
@-webkit-keyframes fontfix {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}
.headerTop {
	font-size: 24px;
	text-align: center;
}
.clearFix {
	clear: both;
}
.fullWidth {
	width: 100%;
}
.menuItem {
	float: left;
	width: 10%;
}
.contentItem {
	width: 400px;
}
.centerElement {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.formLabel {
	margin: 5px;
	width: 25%;
	float: left;
	text-align: right;
}
.formElement {
	margin: 5px;
	width: 63%;
	float: left;
}
.formInput {
	width: 50%;
}
.formDropdown {
	width: 32%;
	padding: 1px 0px;
}
.vCenter {
	padding-top: 12px;
}
.submitBtn {
	margin: 25px 40%;
	width: 20%;
}
.restaurantName {
	font-family: 'Faster One', cursive;
	font-size: 150%;
}
.menuName {
	font-size: 150%;
}
.menuBackground {
	background-color: #FFD800;
}
.homeBackground {
	background-color: #FFD800;
}
.centerText {
	text-align: center;
}
.menuLink:visited {
	color: green;
}
.menuLink:hover {
	font-weight: bold;
}
.menuLink:active {
	text-decoration: none;
}
.beverageTable {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
}
